
.title {
    font-weight: 500;
}

.content {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 8px;

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span:first-child {
            color: $content-weak;

            font-weight: 300;
        }

        span:last-child {
            font-weight: 500;
        }
    }

    .signalStrength {
        display: flex;
        gap: $spacing-8;

        circle {
            fill: $content-brand;
        }
    }
}

.chartContainer {
    width: 100%;
    height: 80px;

    margin-top: -$spacing-16;
}

p {
        color: $content-weak;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.01em;
    }