
.item {
  width: 100%;
  list-style: none;
}

.link {
  width: 100%;
  height: 50px;
  
  display: flex;
  align-items: center;
  gap: $spacing-10;
  
  padding: 0 $spacing-16;
  
  color: $content-weak;
  text-decoration: none;
  
  border-radius: $radius-8;
  
  transition: all 0.2s ease;
  
  &:hover {
    background-color: $background-hover;
    color: $content-hover;
  }
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.text {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

.item[data-active="true"] {
  .link {
    background-color: $background-strong;
    color: $content-side;
    
    &:hover {
      background-color: $background-strong;
      color: $content-side;
    }
  }
}

