.container {
  display: flex;
  width: 359px;
  padding: var(--Spacing-20, 20px);
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
  border-radius: var(--Radius-20, 20px);
  border: 1px solid var(--Border-Base, #eaeaea);
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  .icon {
    width: 69px;
    height: 34px;
    aspect-ratio: 69/34;
  }

  .info {
    display: flex;
    align-items: center;
    gap: var(--Spacing-4, 4px);

    .botName {
      color: var(--Content-Brand-Strong, #1f2024);
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-8, 8px);
    align-self: stretch;

    .title {
      color: #000;
      font-family: Pretendard;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .description {
      color: var(--Content-Weak, #8b8b8b);
      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-12, 12px);
  align-self: stretch;
  width: 100%;
}

.time_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.time_title {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.time_value {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.audio {
  width: 100%;
  align-self: stretch;
}
