@import "@/shared/styles/variables.scss";

.sensorCard {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-base;
  border-radius: $radius-12;
  background-color: #FFF9ED;
  cursor: move;
}

.sensorImageContainer {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sensorImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sensorName {
  font-size: 12px;
  font-weight: 600;
  color: $content;
  text-align: center;
  margin-top: $spacing-4;
}

