.container {
  display: flex;
  padding: var(--Spacing-12, 12px) 0;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: var(--Radius-12, 12px);
  background: var(--Fill-Base, #fff);
}
.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Spacing-12, 12px);

  .titleContainer {
    display: flex;
    align-items: center;
    gap: var(--Spacing-12, 12px);

    .title {
      color: var(--Content-Base, #272727);
      font-family: Pretendard;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .description {
    color: var(--Content-Weak, #8b8b8b);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.tail {
  display: flex;
  align-items: center;
  gap: var(--Spacing-16, 16px);
}

.iconButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}