@import "@/shared/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

.videoContainer {
  position: relative;
  width: 363px;
  height: 203px;
  border-radius: var(--radius-16, 16px);
  overflow: hidden;
  flex-shrink: 0;
}

.video,
.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--radius-16, 16px);
}

.robotInfo {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-shrink: 0;
}

.robotIcon {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.robotName {
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: #000;
  margin: 0;
  white-space: nowrap;
}
