@import "@/shared/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-48;
  width: 100%;
  height: 100%;
  padding: $spacing-32;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-8;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: $content;
  margin: 0;
}

.description {
  font-size: 15px;
  font-weight: 400;
  color: $content-weak;
  margin: 0;
}

.cards {
  display: flex;
  gap: $spacing-24;
  justify-content: center;
  align-items: stretch;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-16;
  width: 280px;
  padding: $spacing-24;
  background-color: $background;
  border: 2px solid $border;
  border-radius: $radius-16;
  cursor: pointer;
  transition: all 0.2s ease;


  &:hover {
    border-color: $content-weak;

  }

  &.selected {
    border-color:#EAEAEA;
   
  }
}

.cardTitle {
  font-size: 18px;
  font-weight: 600;
  color: $content;
  margin: 0;
  text-align: center;
}

.cardDescription {
  font-size: 14px;
  font-weight: 400;
  color: $content-weak;
  margin: 0;
  text-align: center;
  line-height: 1.5;
}

.cardImage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 120px;

  img {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }
}

.checkIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.checkBox {
  width: 24px;
  height: 24px;
  border: 2px solid $border;
  border-radius: $radius-6;
  background-color: $background-strong;
}

.checkBoxChecked {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: $radius-6;
  background-color: $content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
}

