.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    
    border-right: 1px solid $border;
    background-color: $background;

    padding: $padding;

    z-index: 101;
    overflow: hidden;

    opacity: 0;
    visibility: hidden;

    &[data-open="true"] {
        opacity: 1;
        visibility: visible;
    }
}

.menu {
    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;

    list-style: none;

    display: flex;
    flex-direction: column;
    gap: $spacing-4;
}

.full {
    flex: 1;
}