@import "@/shared/styles/variables.scss";

.robotList {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 326px;
  background-color: $background;
  border-radius: $radius-8;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  gap: $spacing-24;
  
  padding: $spacing-12 $spacing-16;
  background-color: $background-strong;
  border-bottom: 1px solid $border;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: $spacing-16;
  width: 300px;
  flex-shrink: 0;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  flex-shrink: 0;
}

.headerTitle {
  font-size: 14px;
  font-weight: 600;
  color: $content;
  margin-left: 48px; // 이미지 크기만큼 여백
}

.headerItem {
  font-size: 14px;
  font-weight: 400;
  color: $content-weak;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  
  &:nth-child(2) {
    width: 180px; // 상태
  }
  
  &:nth-child(3) {
    width: 200px; // 배터리
  }
  
  &:nth-child(4) {
    width: 200px; // 로봇 위치
  }
  
  &:nth-child(5) {
    width: 265px; // 등록 일자
  }
}


.list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
}


