@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "./variables.scss";

body, html {
    margin: 0;
    padding: 0;
    font-family: $font-family;
}

* {
    box-sizing: border-box;
    font-family: $font-family;
}

div, h1, h2, h3, h4, h5, h6, span, p, button, input, textarea, select, option, label, a {
    font-family: $font-family;
}

h1, h2, h3, h4, h5, h6, span, p, button, input, textarea, select, option {
    margin: 0;
    padding: 0;

    word-break: keep-all;

    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}