$border: #F2F2F2;

$background: #FFF;
$background-strong: #F2F2F2;
$background-hover: hsla(0, 0%, 0%, 0.05);
$background-invert: #0E0E0E;
$background-brand: #297BFF;
$background-brand-base: #E6F1FF;

$content: #0E0E0E;
$content-weak: #8B8B8B;
$content-invert: #FFF;

$content-brand: #297BFF;
$content-brand-base: #E6F1FF;

$padding: 16px;

$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-64: 64px;
$spacing-full: 100%;

$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-32: 32px;
$radius-40: 40px;
$radius-64: 64px;
$radius-full: 100%;