$border: #e2e2e2;

$background: #FFF;
$background-strong: #F2F2F2;
$background-hover: hsla(0, 0%, 0%, 0.05);
$background-invert: #0E0E0E;
$background-brand: rgb(55, 116, 215);
$background-brand-base: #E6F1FF;

$border-base: #EAEAEA;
$content: #0E0E0E;
$content-side: #272727;
$content-weak: #8B8B8B;
$content-hover: #666;
$content-invert: #FFF;

$content-brand: #3875d8;
$content-brand-base: #E6F1FF;

$button-background: #1F2024;

$padding: 16px;

$spacing-4: 4px;
$spacing-6: 6px;
$spacing-8: 8px;
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-32: 32px;
$spacing-40: 40px;
$spacing-48: 48px;
$spacing-64: 64px;
$spacing-full: 100%;

$radius-4: 4px;
$radius-6: 6px;
$radius-8: 8px;
$radius-10: 10px;
$radius-12: 12px;
$radius-16: 16px;
$radius-20: 20px;
$radius-24: 24px;
$radius-32: 32px;
$radius-40: 40px;
$radius-64: 64px;
$radius-full: 100%;