@import "@/shared/styles/variables.scss";

.segment {
    display: flex;
    background-color: $background;
    border: 1px solid $border-base;
    border-radius: 12px;
    overflow: hidden; /* 자식 요소가 부모를 넘어가지 못하게 함 */
}

.item {
    flex: 1;
    height: 42px;
    
    background-color: transparent;
    border: none;
    
    font-size: 16px;
    font-weight: 500;
    color: $content-weak;
    
    cursor: pointer;
    transition: all 0.2s ease;
    
    
    &.selected {
        background-color: $background-strong;
        border-color: $border-base;
        color: $content;
    }
}