@import "@/shared/styles/variables.scss";

.segment {
    display: flex;
    background-color: $background;
    border: 1px solid $border-base;
    border-radius: $radius-8;
}

.item {
    flex: 1;
    height: 42px;
    
    background-color: transparent;
    border: none;
    border-radius: 0;
    
    font-size: 14px;
    font-weight: 500;
    color: $content;
    
    cursor: pointer;
    transition: all 0.2s ease;
    
    
    &.selected {
        background-color: $background-strong;
        border-color: $border-base;
        color: $content;
    }
}