.container {
  display: flex;
  width: 63px;
  height: 63px;
  padding: 7px var(--Spacing-8, 8px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--Radius-24, 24px);
  border: 5px solid #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  user-select: none;

  &:active {
    cursor: grabbing !important;
  }

  &.sensor {
    background: #fff9ed;
  }

  &.robot {
    background: #e8f2ff;
  }

  &.overlapped {
    opacity: 0.5;
  }
}

.image {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.name {
  color: #000;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
