.cameraInfoSection {
    width: 340px;
    height: 100%;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $spacing-24;
}

.header {
    display: flex;
    align-items: start;
    justify-content: space-between;

    a {
        color: $content-hover;

        svg {
            width: 18px;
            height: 18px;
        }
    }
}

.title {
    font-size: 18px;
    font-weight: 500;

    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: $spacing-4;

    p {
        color: $content-weak;

        line-height: 1.4;
        letter-spacing: 0.01em;
    }
}

.connectionStatus {
    margin-top: auto;
}

.noCameraInfoSection {
    display: flex;
    flex-direction: column;
    gap: $spacing-16;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacing-4;
    }
    h1{
        color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    }
}