@import "@/shared/styles/variables.scss";

.noRobotSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% + 64px);
  height: calc(100% + 20px);
  margin: -10px -32px;
  flex: 1;
  background-color: $background;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-24;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: $content;
  margin: 0;
}

.description {
  font-size: 14px;
  font-weight: 400;
  color: $content-weak;
  line-height: 1.6;
  margin: 0;
}

