@import "@/shared/styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Spacing-6, 6px);
  align-self: stretch;
  width: 500px;
  height: fit-content;

  .main_title {
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.loading,
.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px;
  font-family: Pretendard;
  font-size: 16px;
  color: var(--content-weak, #8b8b8b);
}
