.container {
    display: flex;
padding: var(--Spacing-16, 16px) var(--Spacing-20, 20px);
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}

.right{
    display: flex;
align-items: flex-start;
gap: var(--Spacing-16, 16px);
}

.robotinfo{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: var(--Spacing-10, 10px);
}

.robottext{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--Spacing-4, 4px);

.statusmain{
    color: #000;
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.statussub{
    color: var(--Content-Weak, #8B8B8B);
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


}


.robotstatus{
    display: flex;
align-items: center;
gap: var(--Spacing-8, 8px);

    .robotimage{
        width: 24;
height: 24;
    }

    .robotns{
        color: #000;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
    }
}

.left{
    color: var(--Content-Base, #272727);
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}