@import "@/shared/styles/variables.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
  width: fit-content;
  height: fit-content;
  padding: 12px 20px;
  
  border: none;
  border-radius: 12px;
  
  font-size: 17px;
  font-weight: 500;
  
  cursor: pointer;
  transition: all 0.2s ease;
  
  &:active {
    transform: translateY(0);
  }
}

.primary {
  background-color: $button-background;
  color: $content-invert;
  
  &:hover {
    background-color: #2a2a2a;
  }
}

.secondary {
  background-color: $background-strong;
  color: $content;
  
  &:hover {
    background-color: #e5e5e5;
  }
}

.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.text {
  white-space: nowrap;
  font-size: 15px;
}

