@import "@/shared/styles/variables.scss";

.robotCard {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-base;
  border-radius: $radius-12;
  background-color: $background-brand-base;
  cursor: move;
  transition: opacity 0.3s ease;
}

.robotCard.overlapped {
  opacity: 0.5;
}

.robotImageContainer {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.robotImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.robotName {
  font-size: 12px;
  font-weight: 600;
  color: $content;
  text-align: center;
  margin-top: $spacing-4;
}

