.header {
    width: 100%;
    height: 60px;

    background-color: $background-strong;

    padding: $padding;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 20px;
    width: 65px;
    opacity: 0.3;

    //TODO: 나중에 로고 수정 바람
}


.avatar {
    width: 36px;
    height: 36px;
    border-radius: $radius-full;

    object-fit: cover;

    &:hover {
        cursor: pointer;
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: $spacing-6;

    .avatar {
        margin-left: $spacing-8;
    }
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: $content;
}